<p style="align: center;"><img src="https://static.tildacdn.com/tild6636-3531-4239-b465-376364646465/Deep_Learning_School.png", width=600, height=300></p>

<h3 style="text-align: center;"><b>Школа глубокого обучения ФПМИ МФТИ</b></h3>

<h2 style="text-align: center;"><b>Домашнее задание. Библиотека <a href="http://pandas.pydata.org/">pandas</a></b></h2>

В этом задании вы проанализируете данные из Appstore

<img src="https://drive.google.com/uc?export=view&id=1F1Qajgj-dC4o4VI3Wm7fIGlOJA0a60_B" width=300 height=300>

In [1]:
import pandas as pd
import numpy as np

### Данные для задания: https://drive.google.com/file/d/1JY8l5nSu9O4GtMDpaOfH2Oowlpza3U-c/view?usp=sharing

In [77]:
data = pd.read_csv('BlackFriday.csv')
import builtins
def print(*args):
    builtins.print(*args, sep='\n' + '-'*80 + '\n', end='\n' + '='*80 + 2*'\n')

Посмотрим, что же такое переменная `data`:

In [14]:
data

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,NaN,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,4.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,NaN,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,16.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,15.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,NaN,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,NaN,NaN,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,NaN,NaN,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,NaN,NaN,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,14.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,NaN,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,NaN,NaN,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,NaN,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,14.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,8.0,16352
...,...,...,...,...,...,...,...,...,...,...,...,...
537547,1004733,P00244042,M,18-25,18,C,1,0,1,2.0,15.0,11543
537548,1004734,P00111042,M,51-55,1,B,1,1,15,NaN,NaN,20924
537549,1004734,P00345842,M,51-55,1,B,1,1,2,8.0,14.0,13082
537550,1004735,P00278242,M,46-50,3,C,3,0,1,NaN,NaN,11658
537551,1004735,P00313442,M,46-50,3,C,3,0,5,6.0,8.0,6863
537552,1004735,P0098642,M,46-50,3,C,3,0,6,8.0,NaN,16415
537553,1004735,P00119342,M,46-50,3,C,3,0,10,13.0,NaN,18526
537554,1004735,P00114042,M,46-50,3,C,3,0,5,14.0,NaN,7099
537555,1004735,P00135142,M,46-50,3,C,3,0,13,16.0,NaN,578
537556,1004736,P00194542,M,18-25,20,A,1,1,8,14.0,NaN,2183
537557,1004736,P00175242,M,18-25,20,A,1,1,2,NaN,NaN,12724
537558,1004736,P00101942,M,18-25,20,A,1,1,8,17.0,NaN,7796
537559,1004736,P00109142,M,18-25,20,A,1,1,8,17.0,NaN,7770
537560,1004736,P00084842,M,18-25,20,A,1,1,8,16.0,NaN,5940
537561,1004736,P00078142,M,18-25,20,A,1,1,8,16.0,NaN,7834
537562,1004736,P00146742,M,18-25,20,A,1,1,1,13.0,14.0,11508
537563,1004736,P00154642,M,18-25,20,A,1,1,8,NaN,NaN,6074
537564,1004736,P00117442,M,18-25,20,A,1,1,5,14.0,NaN,7084
537565,1004736,P00051142,M,18-25,20,A,1,1,8,NaN,NaN,7934
537566,1004736,P00048742,M,18-25,20,A,1,1,5,NaN,NaN,5350
537567,1004736,P00157542,M,18-25,20,A,1,1,8,14.0,NaN,1994
537568,1004736,P00250642,M,18-25,20,A,1,1,11,NaN,NaN,5930
537569,1004736,P00023142,M,18-25,20,A,1,1,5,14.0,NaN,7042
537570,1004736,P00162442,M,18-25,20,A,1,1,1,16.0,NaN,15491
537571,1004737,P00221442,M,36-45,16,C,1,0,1,2.0,5.0,11852
537572,1004737,P00193542,M,36-45,16,C,1,0,1,2.0,NaN,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,15.0,16.0,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,15.0,NaN,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,NaN,NaN,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,8.0,NaN,6875

In [70]:
print(data.info())
print(data.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537577 entries, 0 to 537576
Data columns (total 12 columns):
User_ID                       537577 non-null int64
Product_ID                    537577 non-null object
Gender                        537577 non-null object
Age                           537577 non-null object
Occupation                    537577 non-null int64
City_Category                 537577 non-null object
Stay_In_Current_City_Years    537577 non-null object
Marital_Status                537577 non-null int64
Product_Category_1            537577 non-null int64
Product_Category_2            370591 non-null float64
Product_Category_3            164278 non-null float64
Purchase                      537577 non-null int64
dtypes: float64(2), int64(5), object(5)
memory usage: 49.2+ MB
None
================================================================================
            User_ID    Occupation  Marital_Status  Product_Category_1  \
count  5.375770e+05  537577.00000   537577.000000       537577.000000
mean   1.002992e+06       8.08271        0.408797            5.295546
std    1.714393e+03       6.52412        0.491612            3.750701
min    1.000001e+06       0.00000        0.000000            1.000000
25%    1.001495e+06       2.00000        0.000000            1.000000
50%    1.003031e+06       7.00000        0.000000            5.000000
75%    1.004417e+06      14.00000        1.000000            8.000000
max    1.006040e+06      20.00000        1.000000           18.000000

       Product_Category_2  Product_Category_3       Purchase
count       370591.000000       164278.000000  537577.000000
mean             9.842144           12.669840    9333.859853
std              5.087259            4.124341    4981.022133
min              2.000000            3.000000     185.000000
25%              5.000000            9.000000    5866.000000
50%              9.000000           14.000000    8062.000000
75%             15.000000           16.000000   12073.000000
max             18.000000           18.000000   23961.000000
================================================================================

In [73]:
print(data.columns)

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')
================================================================================

In [93]:
print(data['Gender'].describe(), data['Gender'].unique())
print(data['Age'].describe(), data['Age'].unique())
print(data['Product_ID'].describe())

count     537577
unique         2
top            M
freq      405380
Name: Gender, dtype: object
--------------------------------------------------------------------------------
['F' 'M']
================================================================================

count     537577
unique         7
top        26-35
freq      214690
Name: Age, dtype: object
--------------------------------------------------------------------------------
['0-17' '55+' '26-35' '46-50' '51-55' '36-45' '18-25']
================================================================================

count        537577
unique         3623
top       P00265242
freq           1858
Name: Product_ID, dtype: object
================================================================================

In [92]:
print(data['City_Category'].describe(), data['City_Category'].unique())
print(np.sort(data['Occupation'].unique()))
print(data['Stay_In_Current_City_Years'].describe(), data['Stay_In_Current_City_Years'].unique())

count     537577
unique         3
top            B
freq      226493
Name: City_Category, dtype: object
--------------------------------------------------------------------------------
['A' 'C' 'B']
================================================================================

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]
================================================================================

count     537577
unique         5
top            1
freq      189192
Name: Stay_In_Current_City_Years, dtype: object
--------------------------------------------------------------------------------
['2' '4+' '3' '1' '0']
================================================================================

#### Вопрос

О чём данные? (Hint: https://www.kaggle.com/sdolezel/black-friday)

---

#### Основное задание (в тесте надо будет вставлять ответы для этих пунктов):

*Примечание:* не бойтесь гуглить и заглядывать в "Полезные ссылки" для того, чтобы выполнить какие-то задания. Возможно, на семинаре не было какого-то нужного метода, но он находится в поисковике за 2 минуты.

**0).** Сколько всего возрастных категорий?

In [114]:
data['Age'].unique().size

7

**1).** Сколько строк с мужчинами из категории города A? (речь не об уникальных ID мужчин, а о количестве строк)

In [195]:
print(data[(data['Gender'] == 'M') & (data['City_Category'] == 'A')].describe()['User_ID']['count'])
print(data[data['Gender'] == 'M']['City_Category'].value_counts())
data[(data['Gender'] == 'M') & (data['City_Category'] == 'A')].describe()

109831.0
================================================================================

B    169999
C    125550
A    109831
Name: City_Category, dtype: int64
================================================================================

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,1.098310e+05,109831.000000,109831.000000,109831.000000,73729.000000,31850.000000,109831.000000
mean,1.002861e+06,8.461127,0.380075,5.360299,9.887222,12.725118,9061.717739
std,1.763074e+03,6.799316,0.485407,3.816885,5.087861,4.101281,4931.360715
min,1.000003e+06,0.000000,0.000000,1.000000,2.000000,3.000000,185.000000
25%,1.001244e+06,3.000000,0.000000,1.000000,5.000000,9.000000,5415.000000
50%,1.002946e+06,7.000000,0.000000,5.000000,9.000000,15.000000,7972.000000
75%,1.004344e+06,15.000000,1.000000,8.000000,15.000000,16.000000,11921.000000
max,1.006034e+06,20.000000,1.000000,18.000000,18.000000,18.000000,23961.000000

**2).** Сколько женщин от 46 до 50, потративших (столбец Purchase) больше 20000 (условных единиц, в данном случае)?   (речь не об уникальных ID, а о количестве строк)

In [200]:
print(data[(data['Gender'] == 'F') & (data['Age'] == '46-50') & (data['Purchase'] > 2000.0)].describe()['User_ID']['count'])
print(data[(data['Gender'] == 'F') & (data['Purchase'] > 2000.0)]['Age'].value_counts())
data[(data['Gender'] == 'F') & (data['Age'] == '46-50') & (data['Purchase'] > 2000.0)].describe()

12223.0
================================================================================

26-35    47252
36-45    25211
18-25    22680
46-50    12223
51-55     9173
55+       4664
0-17      4596
Name: Age, dtype: int64
================================================================================

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,1.222300e+04,12223.000000,12223.000000,12223.000000,8278.000000,3495.000000,12223.000000
mean,1.003219e+06,6.246748,0.760615,5.563446,10.149915,12.817167,9320.128855
std,1.777748e+03,6.436731,0.426725,3.489453,4.838768,3.981431,4545.798987
min,1.000045e+06,0.000000,0.000000,1.000000,2.000000,3.000000,2003.000000
25%,1.001899e+06,1.000000,1.000000,3.000000,6.000000,9.000000,6045.500000
50%,1.003529e+06,3.000000,1.000000,5.000000,11.000000,14.000000,8050.000000
75%,1.004472e+06,11.000000,1.000000,8.000000,14.000000,16.000000,11770.500000
max,1.006039e+06,20.000000,1.000000,18.000000,18.000000,18.000000,23920.000000

**3).** Сколько NaN'ов в столбце Product_Category_3?

In [174]:

print(data['Product_Category_3'].unique() )
print(data.count()['User_ID'] - data['Product_Category_3'].count(), 'Столько нанов')
print(data['Product_Category_3'].value_counts())

[nan 14. 17.  5.  4. 16. 15.  8.  9. 13.  6. 12.  3. 18. 11. 10.]
================================================================================

373299
--------------------------------------------------------------------------------
Столько нанов
================================================================================

16.0    32148
15.0    27611
14.0    18121
17.0    16449
5.0     16380
8.0     12384
9.0     11414
12.0     9094
13.0     5385
6.0      4818
18.0     4563
4.0      1840
11.0     1773
10.0     1698
3.0       600
Name: Product_Category_3, dtype: int64
================================================================================

**4).** Какую долю (вещественное число от 0 до 1, округлить до 4-го знака) от всех покупателей составляют ВМЕСТЕ мужчины от 26 до 35 лет и женщины старше 36 лет (то есть нужно учесть несколько возрастных категорий)? (речь не об уникальных ID, а о количестве таких строк)

In [211]:
print(data[
    (data['Gender'] == 'M') & (data['Age'] == '26-35')
].describe())

print(data[(data['Gender'] == 'F') & ( np.any(data['Age'] == ['55+', '46-50', '51-55', '36-45']))])

            User_ID     Occupation  Marital_Status  Product_Category_1  \
count  1.653420e+05  165342.000000   165342.000000       165342.000000
mean   1.003044e+06       8.320511        0.388328            5.110408
std    1.691932e+03       6.757262        0.487371            3.798971
min    1.000003e+06       0.000000        0.000000            1.000000
25%    1.001611e+06       2.000000        0.000000            1.000000
50%    1.003182e+06       7.000000        0.000000            5.000000
75%    1.004390e+06      15.000000        1.000000            8.000000
max    1.006040e+06      20.000000        1.000000           18.000000

       Product_Category_2  Product_Category_3       Purchase
count       114623.000000        52552.000000  165342.000000
mean             9.734713           12.690763    9470.621052
std              5.145427            4.127973    5049.267265
min              2.000000            3.000000     185.000000
25%              5.000000            9.000000    5856.000000
50%              8.000000           15.000000    8094.000000
75%             15.000000           16.000000   12445.000000
max             18.000000           18.000000   23961.000000
================================================================================

ValueError: Lengths must match to compare

In [214]:
a = pd.Series(['aa', 'bb', 'ab', 'a', 'ab', 'ac'])
b = pd.Series([1, 2, 3, 44, 1, 123, 125654, 1, 21, 432])
df = pd.DataFrame(a, b, columns=['words', 'numbers'])
df

ValueError: Shape of passed values is (10, 1), indices imply (10, 2)

---

Больше про pandas можно найти по этом полезным ссылкам:

* Официальные туториалы: http://pandas.pydata.org/pandas-docs/stable/tutorials.html

* Статья на Хабре от [OpenDataScience сообщества](http://ods.ai/)**:** https://habr.com/company/ods/blog/322626/

* Подробный гайд: https://media.readthedocs.org/pdf/pandasguide/latest/pandasguide.pdf

Главное в работе с новыми библиотеками -- не бояться тыкать в разные функции, смотреть типы возвращаемых объектов и активно пользоваться Яндексом, а ещё лучше понимать всё из docstring'а (`Shift+Tab` при нахождении курсора внутри скобок функции).